## NGC 5
Nama: Sammy
Batch: HCK-012

In [ ]:
CREATE TABLE IF NOT EXISTS customers (
   customer_id SERIAL PRIMARY KEY,
   customer_name VARCHAR(50) NOT NULL,
   city VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS orders (
	order_id SERIAL PRIMARY KEY,
	customer_id INT,
	order_date DATE,
	total_amount FLOAT,
	CONSTRAINT fk_customers
		FOREIGN KEY (customer_id)
			REFERENCES customers(customer_id)
);

INSERT INTO customers (customer_name, city)
VALUES
	('John Doe', 'New York'),
	('Jane Smith', 'Los Angeles'),
	('David Johnson', 'Chicago')
;

INSERT INTO orders (customer_id, order_date, total_amount)
VALUES
	(1, '2022-01-10', 100),
	(1, '2022-02-15', 150),
	(2, '2022-03-20', 200),
	(3, '2022-04-25', 50)
;


SELECT 
	c.customer_name,
	COUNT(*) AS total_orders
FROM customers c JOIN orders o
ON c.customer_id = o.customer_id
GROUP BY c.customer_name
ORDER BY c.customer_name DESC
;